Repository ergho/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "intrastructure/terraform/*"

feat(github-action): update renovatebot/github-action action to v34.24.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2085
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2086
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

trying test vaultwarden, need to configure more later
  cluster/apps/authentication/vaultwarden/config-pvc.yaml
  cluster/apps/authentication/vaultwarden/helm-release.yaml
  cluster/apps/authentication/vaultwarden/kustomization.yaml
Labels: area/cluster

forgot i hadnt added secret yet
  cluster/apps/authentication/vaultwarden/kustomization.yaml
Labels: area/cluster

spelling error
  cluster/apps/authentication/vaultwarden/helm-release.yaml
Labels: area/cluster

i suck
  cluster/apps/authentication/vaultwarden/helm-release.yaml
Labels: area/cluster

wooops
  cluster/apps/authentication/vaultwarden/helm-release.yaml
Labels: area/cluster

gaaah
  cluster/apps/authentication/vaultwarden/helm-release.yaml
Labels: area/cluster

fix(helm): update chart thanos to 11.5.10
  cluster/apps/monitoring/thanos/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v34.24.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(ansible): update community.general to 6.0.1
  ansible/requirements.yaml
Labels: area/ansible

feat(github-action): update renovatebot/github-action action to v34.25.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v34.26.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v34.26.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v34.26.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v34.26.4
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update chart thanos to 11.6.1
  cluster/apps/monitoring/thanos/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.27.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update rook-ceph group to v1.10.6
  cluster/apps/storage/rook-ceph/cluster/helm-release.yaml
  cluster/apps/storage/rook-ceph/operator/helm-release.yaml
  cluster/apps/storage/rook-ceph/rook-direct-mount/deployment.yaml
Labels: area/cluster

adding smtp config
  cluster/apps/authentication/vaultwarden/helm-release.yaml
  cluster/apps/authentication/vaultwarden/kustomization.yaml
  cluster/apps/authentication/vaultwarden/secret.sops.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v34.27.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v34.28.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.161
  cluster/apps/media-automation/sonarr-uhd/helm-release.yaml
  cluster/apps/media-automation/sonarr/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 41.9.1
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/flux/flux-system/flux-prereq.yaml
Labels: area/cluster

adding helm release differ
  .github/scripts/helm-release-differ.sh
  .github/scripts/lib/functions.sh
  .github/workflows/helm-release-differ.yaml
Labels: area/github

changed persmissons
  .github/scripts/helm-release-differ.sh
Labels: area/github

feat(helm): update chart app-template to 1.1.3
  cluster/apps/authentication/glauth/helm-release.yaml
  cluster/apps/authentication/vaultwarden/helm-release.yaml
  cluster/apps/media-automation/lidarr/helm-release.yaml
  cluster/apps/media-automation/prowlarr/helm-release.yaml
  cluster/apps/media-automation/radarr-uhd/helm-release.yaml
  cluster/apps/media-automation/radarr/helm-release.yaml
  cluster/apps/media-automation/readarr/helm-release.yaml
  cluster/apps/media-automation/sonarr-uhd/helm-release.yaml
  cluster/apps/media-automation/sonarr/helm-release.yaml
  cluster/apps/media-automation/unpackerr/helm-release.yaml
  cluster/apps/media-servers/jellyfin/helm-release.yaml
  cluster/apps/media-servers/media-browser/helm-release.yaml
  cluster/apps/media-servers/plex/helm-release.yaml
  cluster/apps/monitoring/alertmanager-discord/helm-release.yaml
  cluster/apps/storage/minio/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2089
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.162
  cluster/apps/media-automation/sonarr-uhd/helm-release.yaml
  cluster/apps/media-automation/sonarr/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook zricethezav/gitleaks to v8.15.1
  .pre-commit-config.yaml
Labels: none

fix(github-action): update renovatebot/github-action action to v34.28.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

adding cloudflare ips
  .github/scripts/cloudflare-proxied-networks.sh
Labels: area/github

trying some cloudflare stuff
  .github/workflows/schedule-cloudflare-proxied-networks.yaml
  .gitignore
Labels: area/github

chore(github-action): update cloudflare proxied networks
  cluster/apps/networking/ingress-nginx/cloudflare-proxied-networks.txt
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.29.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.164
  cluster/apps/media-automation/sonarr-uhd/helm-release.yaml
  cluster/apps/media-automation/sonarr/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v34.29.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update chart cert-manager to v1.10.1
  cluster/apps/networking/cert-manager/helm-release.yaml
Labels: area/cluster

moving things around
  cluster/bootstrap/age-key.sops.yaml
  cluster/bootstrap/github-deploy-key.sops.yaml
  cluster/flux/config/cluster-secrets.sops.yaml
  cluster/flux/config/cluster-settings.yaml
  cluster/flux/config/kustomization.yaml
Labels: area/cluster
