Repository ergho/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "intrastructure/terraform/*"

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to c85551f
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-nightly to fb711bc
  cluster/apps/media-automation/readarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/unpackerr to 140465c
  cluster/apps/media-automation/unpackerr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.178
  cluster/apps/media-automation/sonarr-uhd/helm-release.yaml
  cluster/apps/media-automation/sonarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/jellyfin to ce8a221
  cluster/apps/media-servers/jellyfin/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to 2059706
  cluster/apps/media-servers/plex/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/lidarr-develop to fa286e1
  cluster/apps/media-automation/lidarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to 5c5f613
  cluster/apps/media-servers/plex/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to 07d4f47
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-nightly to 3438d51
  cluster/apps/media-automation/readarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to ed83e54
  cluster/apps/media-automation/sonarr-uhd/helm-release.yaml
  cluster/apps/media-automation/sonarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/unpackerr to 1382d60
  cluster/apps/media-automation/unpackerr/helm-release.yaml
Labels: area/cluster

moving things into place for kyverno among others
  cluster/apps/authentication/kustomization.yaml
  cluster/apps/kube-tools/kustomization.yaml
  cluster/apps/kube-tools/kyverno/helm-release.yaml
  cluster/apps/kube-tools/kyverno/kustomization.yaml
  cluster/apps/kube-tools/kyverno/policies/apply-ingress-external-annotations.yaml
  cluster/apps/kube-tools/kyverno/policies/apply-ingress-whitelist-annotations.yaml
  cluster/apps/kube-tools/kyverno/policies/kustomization.yaml
  cluster/apps/kube-tools/kyverno/rbac.yaml
  cluster/apps/media-automation/kustomization.yaml
  cluster/apps/media-servers/kustomization.yaml
Labels: area/cluster

wrong file name
  cluster/apps/kube-tools/kyverno/policies/apply-ingress-external-dns-annotations.yaml
Labels: area/cluster

woops needed 3 instances
  cluster/apps/kube-tools/kyverno/helm-release.yaml
  cluster/flux/repositories/helm/kustomization.yaml
Labels: area/cluster

woot woot
  cluster/apps/authentication/vaultwarden/helm-release.yaml
Labels: area/cluster

woopsie wrong endpoint
  cluster/apps/authentication/vaultwarden/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/jellyfin to b809eb1
  cluster/apps/media-servers/jellyfin/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to 3457eee
  cluster/apps/media-servers/plex/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to 371b722
  cluster/apps/media-automation/sonarr-uhd/helm-release.yaml
  cluster/apps/media-automation/sonarr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 42.0.3
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/flux/flux-system/crds/kube-prometheus-stack.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.37.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/readarr-nightly to v0.1.1.1494
  cluster/apps/media-automation/readarr/helm-release.yaml
Labels: area/cluster

lets try this i guess
  cluster/apps/web-tools/echo-server/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.39.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2099
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 42.1.0
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/flux/flux-system/crds/kube-prometheus-stack.yaml
Labels: area/cluster

correcting some of the ansible stuff
  .taskfiles/ClusterTasks.yaml
  Taskfile.yaml
  ansible/ansible.cfg
  ansible/roles/users/defaults/main.yaml
  ansible/roles/users/files/id_ed25519_ergho.pub
  ansible/roles/users/tasks/main.yaml
  ansible/roles/users/tasks/setup-Linux.yaml
  ansible/roles/users/vars/Ubuntu.yaml
Labels: area/ansible

trying to update task
  ansible/roles/sshd/defaults/main.yaml
  ansible/roles/sshd/handlers/main.yaml
  ansible/roles/sshd/tasks/main.yaml
  ansible/roles/sshd/tasks/setup-Debian.yaml
  ansible/roles/sshd/tasks/setup-RedHat.yaml
Labels: area/ansible

adding webhook
  cluster/flux/flux-system/webhook/github/ingress.yaml
  cluster/flux/flux-system/webhook/github/kustomization.yaml
  cluster/flux/flux-system/webhook/github/receiver.yaml
  cluster/flux/flux-system/webhook/github/secret.sops.yaml
  cluster/flux/flux-system/webhook/kustomization.yaml
Labels: area/cluster

testing
  cluster/apps/networking/external-dns/helm-release.yaml
Labels: area/cluster
