Repository ergho/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

moving more things around
  cluster/flux/chart.yaml
  cluster/flux/config.yaml
  cluster/flux/repositories/helm/bitnami-charts.yaml
  cluster/flux/repositories/helm/bjw-s-charts.yaml
  cluster/flux/repositories/helm/cloudnative-pg-charts.yaml
  cluster/flux/repositories/helm/csi-driver-nfs-charts.yaml
  cluster/flux/repositories/helm/descheduler-charts.yaml
  cluster/flux/repositories/helm/dysnix-charts.yaml
  cluster/flux/repositories/helm/ingress-nginx.yaml
  cluster/flux/repositories/helm/istio-charts.yaml
  cluster/flux/repositories/helm/jetstack-charts.yaml
  cluster/flux/repositories/helm/k8s-at-home-charts.yaml
  cluster/flux/repositories/helm/k8s-gateway-charts.yaml
  cluster/flux/repositories/helm/kustomization.yaml
  cluster/flux/repositories/helm/kyverno-charts.yaml
  cluster/flux/repositories/helm/metrics-server-charts.yaml
  cluster/flux/repositories/helm/project-calico-charts.yaml
  cluster/flux/repositories/helm/prometheus-community-charts.yaml
  cluster/flux/repositories/helm/rook-ceph-charts.yaml
  cluster/flux/repositories/helm/stakater-charts.yaml
  cluster/flux/vars/cluster-secrets.sops.yaml
  cluster/flux/vars/cluster-settings.yaml
  cluster/flux/vars/kustomization.yaml
Labels: area/cluster

lets see what happens :D
  cluster/bootstrap/readme.md
  cluster/flux/flux-system/crds/kube-prometheus-stack.yaml
  cluster/flux/flux-system/crds/kustomization.yaml
  cluster/flux/flux-system/crds/kyverno.yaml
  cluster/flux/repositories/kustomization.yaml
Labels: area/cluster

woopsie forgot that
  cluster/flux/apps.yaml
Labels: area/cluster

woops forgot this
  cluster/flux/flux-system/flux-cluster.yaml
Labels: area/cluster

fix(helm): update chart kyverno to 2.6.2
  cluster/flux/flux-system/crds/kyverno.yaml
Labels: area/cluster

moved more things around preparing for adding more terraform stuff
  terraform/proxmox/.terraform.lock.hcl
  terraform/proxmox/main.tf
  terraform/proxmox/provider.tf
  terraform/proxmox/variables.tf
Labels: none

testing things with cloudflare and terraform
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.165
  cluster/apps/media-automation/sonarr-uhd/helm-release.yaml
  cluster/apps/media-automation/sonarr/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.30.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update chart thanos to 11.6.2
  cluster/apps/monitoring/thanos/helm-release.yaml
Labels: area/cluster

feat(github-release): update flux-installation to v0.37.0
  cluster/flux/flux-system/flux-installation.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v34.30.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm)!: Update chart kube-prometheus-stack to 42.0.0
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/flux/flux-system/crds/kube-prometheus-stack.yaml
Labels: area/cluster

feat(github-release): update fluxcd/flux2 to v0.37.0
  cluster/bootstrap/kustomization.yaml
  cluster/flux/flux-system/flux-installation.yaml
Labels: area/cluster

moved state to terraform cloud
  terraform/cloudflare/main.tf
  terraform/proxmox/provider.tf
Labels: none

wooh
  terraform/cloudflare/main.tf
Labels: none

working on getting this functioning
  terraform/cloudflare/main.tf
  terraform/cloudflare/page_rules_org.tf
  terraform/cloudflare/provider.tf
  terraform/cloudflare/variables.tf
  terraform/cloudflare/zone_settings_org.tf
Labels: none

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2096
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.31.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v34.32.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-release): update pre-commit hook pre-commit/pre-commit-hooks to v4.4.0
  .pre-commit-config.yaml
Labels: none

lets try this
  terraform/cloudflare/dns_records_org.tf
  terraform/cloudflare/provider.tf
  terraform/cloudflare/variables.tf
Labels: none

feat(github-action): update oxsecurity/megalinter action to v6.15.0
  .github/workflows/lint.yaml
Labels: area/github

fix(helm): update chart thanos to 11.6.3
  cluster/apps/monitoring/thanos/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 42.0.1
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/flux/flux-system/crds/kube-prometheus-stack.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 42.0.2
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/flux/flux-system/crds/kube-prometheus-stack.yaml
Labels: area/cluster

adding external dns
  cluster/apps/networking/external-dns/helm-release.yaml
  cluster/apps/networking/external-dns/kustomization.yaml
  cluster/apps/networking/external-dns/secret.sops.yaml
  cluster/apps/networking/kustomization.yaml
  cluster/flux/repositories/helm/external-dns-charts.yaml
  cluster/flux/repositories/helm/kustomization.yaml
Labels: area/cluster

wrong namespace
  cluster/apps/networking/external-dns/kustomization.yaml
Labels: area/cluster

wrong annotation filter
  cluster/apps/networking/external-dns/helm-release.yaml
Labels: area/cluster

adding kyverno namespace
  cluster/apps/namespace.yaml
Labels: area/cluster

testing external dns
  cluster/apps/kustomization.yaml
  cluster/apps/web-tools/echo-server/helm-release.yaml
  cluster/apps/web-tools/echo-server/kustomization.yaml
  cluster/apps/web-tools/kustomization.yaml
Labels: area/cluster

i cant spell
  cluster/apps/kustomization.yaml
Labels: area/cluster

woopsie
  cluster/apps/web-tools/echo-server/helm-release.yaml
Labels: area/cluster

updating nginx
  cluster/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/cluster

trying this
  cluster/apps/media-servers/jellyfin/helm-release.yaml
Labels: area/cluster

remove this
  cluster/apps/media-servers/jellyfin/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.168
  cluster/apps/media-automation/sonarr-uhd/helm-release.yaml
  cluster/apps/media-automation/sonarr/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.34.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

removed external dns again
  cluster/apps/media-servers/jellyfin/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/lidarr-develop to 22bec0c
  cluster/apps/media-automation/lidarr/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "intrastructure/terraform/*"
