Repository ergho/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "intrastructure/terraform/*"

Update autoMerge.json5
  .github/renovate/autoMerge.json5
Labels: area/github

fix(container): update image ghcr.io/onedr0p/jellyfin to e309605
  cluster/apps/media-servers/jellyfin/helm-release.yaml
Labels: area/cluster

feat(container): update image docker.io/filebrowser/filebrowser to v2.23.0
  cluster/apps/media-servers/media-browser/helm-release.yaml
Labels: area/cluster

feat(github-action): update oxsecurity/megalinter action to v6.14.0
  .github/workflows/lint.yaml
Labels: area/github

adding stakater and limits on this
  cluster/apps/authentication/glauth/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v34.19.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v34.20.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

adding minio
  cluster/apps/storage/minio/helm-release.yaml
  cluster/apps/storage/minio/kustomization.yaml
  cluster/apps/storage/minio/nfs-pvc.yaml
  cluster/apps/storage/minio/secret.sops.yaml
Labels: area/cluster

i cant spell
  cluster/apps/storage/minio/helm-release.yaml
Labels: area/cluster

i cant spell
  cluster/apps/storage/minio/helm-release.yaml
Labels: area/cluster

woopsie
  cluster/apps/storage/minio/helm-release.yaml
Labels: area/cluster

woopsie
  cluster/apps/storage/minio/helm-release.yaml
Labels: area/cluster

im stupid...
  cluster/apps/storage/minio/helm-release.yaml
Labels: area/cluster

feat(ansible)!: Update community.general to 6.0.0
  ansible/requirements.yaml
Labels: area/ansible

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.8.2073
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/plex to v1.29.2.6364-6d72b0cf6
  cluster/apps/media-servers/plex/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v34.20.4
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update chart thanos to 11.5.8
  cluster/apps/monitoring/thanos/helm-release.yaml
Labels: area/cluster

fix(github-action): update lycheeverse/lychee-action action to v1.5.3
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v34.21.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update lycheeverse/lychee-action action to v1.5.4
  .github/workflows/schedule-link-checker.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v34.21.3
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v34.21.4
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(helm): update chart ingress-nginx to 4.4.0
  cluster/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.8.2075
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v34.21.6
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v34.22.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.8.2076
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 41.7.4
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/flux/flux-system/flux-prereq.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v34.22.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v34.23.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(helm): update chart tigera-operator to v3.24.5
  cluster/apps/networking/tigera-operator/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v34.23.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/lidarr-develop to d0bd888
  cluster/apps/media-automation/lidarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/readarr-nightly to 67241b7
  cluster/apps/media-automation/readarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/unpackerr to 8026ade
  cluster/apps/media-automation/unpackerr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.9.2083
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.151
  cluster/apps/media-automation/sonarr-uhd/helm-release.yaml
  cluster/apps/media-automation/sonarr/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.10.2084
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v34.23.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github
