Repository ergho/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

removing ansiblelint for now
  .github/workflows/lint.yaml
Labels: area/github

fixing some linting
  Taskfile.yaml
  ansible/playbooks/container-runtime.yaml
  ansible/playbooks/hardening.yaml
  ansible/playbooks/kubernetes-cluster.yaml
  ansible/playbooks/kubernetes-install.yaml
  ansible/playbooks/kubernetes-reset.yaml
  ansible/playbooks/sshd.yaml
  ansible/roles/container_runtime/handlers/main.yaml
  ansible/roles/container_runtime/tasks/main.yaml
  ansible/roles/hardening/tasks/main.yaml
  ansible/roles/k8_cluster/defaults/main.yaml
  ansible/roles/k8_cluster/tasks/main.yaml
  ansible/roles/k8_prereq/defaults/main.yaml
  ansible/roles/k8_prereq/tasks/main.yaml
  ansible/roles/node_exporter/tasks/main.yaml
  ansible/roles/sshd/tasks/main.yaml
  ansible/roles/users/tasks/main.yaml
Labels: area/ansible

adding more things
  cluster/apps/media-automation/readarr/config-pvc.yaml
  cluster/apps/media-automation/readarr/helm-release.yaml
  cluster/apps/media-automation/readarr/kustomization.yaml
  cluster/apps/media-automation/readarr/secret.sops.yaml
  cluster/apps/media-automation/unpackerr/helm-release.yaml
  cluster/apps/media-automation/unpackerr/secret.sops.yaml
  readme.md
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.4.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

woops forgot this
  cluster/apps/media-automation/kustomization.yaml
Labels: area/cluster

i suck at this...
  cluster/apps/media-automation/readarr/helm-release.yaml
Labels: area/cluster

oops
  cluster/apps/media-automation/readarr/helm-release.yaml
Labels: area/cluster

wow... how...
  cluster/apps/media-automation/readarr/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.6.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/readarr-nightly to de62299
  cluster/apps/media-automation/readarr/helm-release.yaml
Labels: area/cluster

trying glauth with fake users
  cluster/apps/authentication/glauth/config/groups.sops.toml
  cluster/apps/authentication/glauth/config/server.sops.toml
  cluster/apps/authentication/glauth/config/users.sops.toml
  cluster/apps/authentication/glauth/helm-release.yaml
  cluster/apps/authentication/glauth/kustomization.yaml
  cluster/apps/authentication/kustomization.yaml
  cluster/apps/kustomization.yaml
  cluster/apps/namespace.yaml
Labels: area/cluster

stupid...
  cluster/apps/authentication/glauth/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.8.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

cant spell :D
  cluster/apps/authentication/glauth/config/server.sops.toml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/jellyfin to v10.8.6
  cluster/apps/media-servers/jellyfin/helm-release.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v34.8.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

adding labels to renovate woops
  .github/renovate.json5
  .github/renovate/labels.json5
Labels: area/github

fix(github-action): update renovatebot/github-action action to v34.8.2
  .github/workflows/schedule-renovate.yaml
Labels: area/github

adding things
  cluster/charts/kustomization.yaml
  cluster/charts/kyverno-charts.yaml
  cluster/charts/prometheus-community-charts.yaml
  cluster/flux/flux-system/flux-prereq.yaml
  cluster/flux/flux-system/kustomization.yaml
Labels: area/cluster

adding stakater chart
  cluster/charts/kustomization.yaml
  cluster/charts/stakater-charts.yaml
Labels: area/cluster

adding stakater reloader helm release
  cluster/apps/kube-tools/kustomization.yaml
  cluster/apps/kube-tools/reloader/helm-release.yaml
  cluster/apps/kube-tools/reloader/kustomization.yaml
  cluster/apps/kustomization.yaml
  cluster/apps/namespace.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.9.1
  .github/workflows/schedule-renovate.yaml
Labels: area/github

testing alertmanager discord and slowly adding kube prom stack
  cluster/apps/kustomization.yaml
  cluster/apps/monitoring/alertmanager-discord/helm-release.yaml
  cluster/apps/monitoring/alertmanager-discord/kustomization.yaml
  cluster/apps/monitoring/alertmanager-discord/secret.sops.yaml
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/apps/monitoring/kube-prometheus-stack/kustomization.yaml
  cluster/apps/monitoring/kustomization.yaml
  cluster/apps/namespace.yaml
Labels: area/cluster

partially completed kube-prom stack
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/apps/monitoring/kustomization.yaml
Labels: area/cluster

cant spell...
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

lets try this
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

adding metrics-server too
  cluster/apps/kube-tools/metrics-server/helm-release.yaml
  cluster/apps/kube-tools/metrics-server/kustomization.yaml
  cluster/charts/kustomization.yaml
  cluster/charts/metrics-server-charts.yaml
Labels: area/cluster

i suck at remembering...
  cluster/apps/kube-tools/metrics-server/helm-release.yaml
Labels: area/cluster

i suck at remembering...
  cluster/apps/kube-tools/metrics-server/helm-release.yaml
Labels: area/cluster

adding bitnami chart
  cluster/charts/bitnami-charts.yaml
  cluster/charts/kustomization.yaml
Labels: area/cluster

adding monitoring on ceph helm chart
  cluster/apps/storage/rook-ceph/operator/helm-release.yaml
Labels: area/cluster

adding on rook cluster too
  cluster/apps/storage/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

i cant spell
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

add monitoring cert-manager
  cluster/apps/networking/cert-manager/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.2042
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

adding thanos
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/apps/monitoring/thanos/helm-release.yaml
  cluster/apps/monitoring/thanos/kustomization.yaml
Labels: area/cluster

ops
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-nightly to v0.4.7.2048
  cluster/apps/media-automation/prowlarr/helm-release.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v34.10.0
  .github/workflows/schedule-renovate.yaml
Labels: area/github

adding things
  cluster/apps/kube-tools/descheduler/helm-release.yaml
  cluster/apps/kube-tools/descheduler/kustomization.yaml
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/charts/democratic-csi.yaml
  cluster/charts/descheduler-charts.yaml
  cluster/charts/kustomization.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/terraform:
  - "intrastructure/terraform/*"
